defaults
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend fe_tcp
    bind :4000 transparent                # 4000 portga transparent mode bilan eshitish
    default_backend be_tcp

backend be_tcp
    mode tcp
    balance roundrobin                    # Round-robin algoritmi
    server s1 127.0.0.1:3001 source 0.0.0.0 usesrc clientip check
    server s2 127.0.0.1:3002 source 0.0.0.0 usesrc clientip check
    server s3 127.0.0.1:3003 source 0.0.0.0 usesrc clientip check