global
    log stdout format raw local0    # Log to stdout (Docker will capture this)

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    # Maxsus log formatini yaratish: mijoz, backend/server va ulanishlar sonini ko'rsatish
    log-format "%ci:%cp -> %b/%s | srv_conn=%sc backend_conn=%bc"

frontend fe_http
    bind *:4000
    default_backend be_http

backend be_http
    balance leastconn
    option http-server-close       # Har bir javobdan so'ng server aloqasini yopish (bir so'rov bir aloqada)
    server s1 backend1:3000 check
    server s2 backend2:3000 check
    server s3 backend3:3000 check
