defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_tcp
    bind *:4000
    default_backend be_tcp

backend be_tcp
    balance roundrobin        # L4 round-robin distribution of connections
    server s1 backend1:3000 check
    server s2 backend2:3000 check
    server s3 backend3:3000 check
